.logo-text h1 {
	font-family: Arimo !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 40px;
	line-height: 28px;
	color: #005996 !important;
	margin-top: 12px !important;
	margin-bottom: -4px !important;
}

.logo-text span {
	font-family: Arimo;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	line-height: 9px;
	letter-spacing: -0.01em;
	color: #005996 !important;
}

.pac-container {
        z-index: 10000 !important;
    }

.jq-toast-heading {
	color: white !important;
}

.pointer {
	cursor: pointer;
}

.circle-x {
	display: inline-block;
	border-radius: 50%;
	min-width: 30px;
	min-height: 27px;
	padding: 5px;
	background: #edd0b6;
	color: white;
	text-align: center;
	line-height: 1;
	box-sizing: content-box;
	white-space: nowrap;
}

.circle-x:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	padding-top: 100%;
	height: 0;
}

.circle-x > span {
	display: inline-block;
	font-size: 20px;
	vertical-align: middle;
	font-weight: bold !important;
	color: #e2a063;
}

.nav-item .nav-link .circle-x {
	margin-right: 5px;
}

.btn-white {
	color: #005996;
	background-color: #fff;
	box-shadow: 0px 5px 36px rgb(144 164 183 / 22%) !important;
	/* border-radius: 10px !important; */
}

/* css for same deals and deal_detail page */

.deals_model_heading h3 {
	text-align: center;
	color: #005996 !important;
	margin-bottom: 0px !important;
}

.deals_model_heading hr {
	text-align: center;
	background-color: #005996 !important;
	width: 130px;
	height: 3px;
	margin-top: 3px !important;
}

.modal-dialog {
	max-width: 735px;
}

.btn-input,
.btn-input-arrow {
	display: flex;
}
.btn-input input {
	width: 93% !important;
}

.btn-input .btn {
	margin-left: 20px;
	margin-top: 2px;
}

.btn i {
	color: white;
	font-weight: normal;
}

#list-members {
	display: flex;
	margin-top: 10px;
}

.mem-list {
	text-align: center;
	position: relative;
	 display: inline-block;
	max-width: 250px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.mem-list a {
	position: absolute;
	top: -6px;
	right: 18px;
}

.mem-list a i {
	font-size: 20px;
	color: #e2a063;
}

.mem-list img {
	border-radius: 25px;
	width: 40px;
	height: 40px;
}

.mem-list p {
	margin-bottom: 0px;
}

.mem-list > span {
	font-size: 12px;
}

/* circle css */
.circle {
	text-align: center;
	font-size: 20px;
}

.fa-circle {
	color: #e2a063;
}

.fa-circle-thin {
}

.close img {
	margin-top: 10px;
	margin-right: 6px;
}

.btn-input-arrow img {
	width: 30px;
	height: 40px;
	margin-top: 3px;
	margin-right: 10px;
}

.dot:hover {
	cursor: pointer;
}

@media (max-width: 320px) {
	.mem-list a {
		position: absolute;
		top: -5px;
		right: 94px;
	}
}

@media (max-width: 768px) {
	.mem-list a {
		position: absolute;
		top: -5px;
		right: 100px;
	}

	.btn-input .btn {
		margin-top: 6px;
	}
	.btn-input input {
		width: 83% !important;
	}

	.btn.btn-icon {
		width: 30px !important;
		height: 30px !important;
	}
	.btn-icon img {
		width: 13px;
		height: 13px;
	}

	.scroll {
		max-height: 150px !important;
		overflow-y: scroll;
	}
}

.modal-body {
	position: relative;
	height: 780px;
}

@media (max-width: 768px) {
	.modal-body {
		position: relative;
		height: 940px;
	}
}
.test-1 {
	position: absolute;
	width: 100%;
	left: 14px;
	bottom: 0px;
}

.slider-dot {
	width: 100%;
}

.follow-image .circle-x {
	margin-right: -13px;
	min-width: 20px;
	min-height: 20px;
}
.follow-image .circle-x span {
	color: #e2a063 !important;
	font-size: 16px;
}
.follow-image img {
	margin-right: -10px;
	border-radius: 50%;
	/* margin-left: -10px; */
}

.scroll {
	text-align: -webkit-center;
	max-height: 110px;
	overflow-y: scroll;
}


/* ///new invetaion user model css */
.invite-user > .modal-dialog {
	width: min-content !important;
	margin-top: 50px !important;
}
@media (max-width:768px)
{
	.invite-user > .modal-dialog {
		width: 100% !important;
		margin-top: 50px !important;
	}
}
.invite-user > .modal-dialog .modal-content .modal-body {
	height: 100% !important;
}
.invite-user > .modal-dialog .modal-content {
	background: #ffffff;
	box-shadow: 0px 5px 36px rgba(144, 164, 183, 0.22);
	border-radius: 40px;
}

.logoimg {
	margin-top: -158px !important;
	margin-bottom: 20px;
}

.email-heading {
	 
	color: #005996 !important;
	text-align: center !important;
}



/* /// New css */
.img-wrap,
.no-img-wrap {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	width: 50px;
	font-size: 0;
}

.img-wrap img {
	border-radius: 25px;
	width: 40px;
	height: 40px;
}

.img-wrap .fa-minus-circle {
	position: absolute;
	top: -3px;
	right: -5px;
	z-index: 100;
	/* background-color: white; */
	padding: 5px 2px 2px;
	color: #e2a063;
	font-weight: bold;
	cursor: pointer;
	/* opacity: .2; */
	text-align: center;
	font-size: 22px;
	line-height: 10px;
	border-radius: 50%;
}

.no-img-wrap .fa-minus-circle {
	position: absolute;
	top: -6px;
	right: -2px;
	z-index: 100;
	/* background-color: white; */
	padding: 5px 2px 2px;
	color: #e2a063;
	font-weight: bold;
	cursor: pointer;
	/* opacity: .2; */
	text-align: center;
	font-size: 22px;
	line-height: 10px;
	border-radius: 50%;
}

.img-wrap:hover .fa-minus-circle,
.no-img-wrap:hover .fa-minus-circle {
	opacity: 1;
}
